/* Login Page */
.login-wrapper {
    height: 100vh;
} 
    .login-card {
        display: inline-block;
        width: 300px;
        height: 300px;
        padding: 50px;
        text-align: center;
        color: #ffffff;
    }
        .login-card h1 {
            font-family: 'Amatic SC', cursive;
            font-size: 64px;
            font-weight: 700;
            color: #444444;
        }
  .google .anticon {
    vertical-align: 0;
  }